* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$mainColor: #F16D7F;

@mixin container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}

@mixin justify-content($just) {
    display: flex;
    justify-content: $just;
}

.header {
    background-color: #333;
    padding: 19px 0;
    position: relative;
    z-index: 2;
    &__block {
        @include container();
        @include justify-content(space-between);
    }

    &__logo {
        padding-right: 20px;
    }

    &__item-1 {
        padding-right: 20px;
        padding-left: 20px;
    }

    .burger__item {
        padding-right: 20px;
    }

    .nav {
        width: 230px;
        height: 764px;
        background-color: white;
        box-shadow: 5px 20px 50px rgb(16, 112, 20 / 20%);

        &__close {
            color:  #6F6E6E;
            font-size: 25px;
            position: absolute;
            left: 195px;
            top: 23px;
            right: 0;
            bottom: 0;
            cursor: pointer;
        }

        &__title {
            padding: 40px 0 25px 20px;
        }

        &__category {
            padding: 0 0 0 22px;
            color: $mainColor;
        }

        &__list {
            list-style: none;
            &__item {
                padding: 20px 0 2px 30px;
                color:#6F6E6E;
            }
        }
    }

    &__nav {
        position: absolute;
        z-index: 10;
        top: 80px;
        right: 0;

        &__wrap {
            display: flex;
            flex-direction: column;
            position: relative;
        }
    }
}

.main {
    &__intro {
        height: 764px;
        background-color: #F1E4E6;

        &__wrap {
            @include container();
            @include justify-content(flex-end);
            height: 100%;
            align-items: center;
            background-image: url(../img/Intro/man.png);
            background-repeat: no-repeat;
            background-position: -212px bottom;

            &__text h1{
                max-width: 377px;
                font-size: 30px;
                border-left: 10px solid $mainColor;
                padding-left: 10px;
            }
        }
    }

    &__category {
        // height: 515px;
        background-color: white;

        &__wrap {
            @include container();
            @include justify-content(space-between);
            flex-wrap: wrap;

            &__item:not(:last-child) {
                width: 360px;
                margin: 30px 0 5px 0;
            }

            &__item {
                height: 260px;
                display: flex;
                justify-content: center;
                align-items: center;

                &__text {
                    position: absolute;
                    color: white;
                    width: 95px;
                    // font-size: 16px;
                    text-align: center;
                    width: 93px;
                }
            
                .decor {
                    color: $mainColor;
                    font-size: 15px;
                }

            }
            
        }
    }

    &__product {
        &__text {
            text-align: center;

            &__title {
                font-size: 30px;
                font-family: Lato;
            }

            &__description {
                margin-top: 6px;
                // margin-bottom: 47px;
                font-size: 14px;
                font-family: Lato;
                color: #9f9f9f;
                opacity: .7;
            }
        }

        &__cards {
            @include container();
            @include justify-content(space-between);
            margin-top: 47px;
        }
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 420px;
        background-color: rgba(58, 56, 56, 0.83);
        display: flex;
        justify-content: center;
        align-items: center;
      
        opacity: 0;
        transition: 0.5s;
      }

    .card {
        position: relative;
        transition: 0.5s;

        &__title {
            font-size: 13px;
            font-family: Lato;
            padding-top: 25px;
        }

        &__description {
            padding-top: 12px;
            color: #5d5d5d;
            font-size: 14px;
            font-family: Lato;
            width: 301px;
            padding-bottom: 18px;
        }

        &__price {
            color: $mainColor;
            font-size: 16px;
            font-family: Lato;
        }

    }

    .card:hover {
        box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
    }

    .card:hover .overlay {
        opacity: 1;
    }
}

#burger {
    display: none;
}

#burger:checked ~ .header__nav {
    display: block;
}

#burger:not(:checked) ~ .header__nav {
    display: none;
}

.burger__item-1 {
    cursor: pointer;
}


@media (max-width: 425px) {
    .header {
        &__item-1 {
            display: none;
        }

        &__item-2 {
            display: none;
        }

        .nav {
            width: 100%;
        }
    }

    .main__intro {
        height: 363px;

        &__wrap {
            background-image: none;
        }
    }

    .main__category__wrap {
        display: flex;
        align-items: center;
        flex-direction: column;

        &__text {
            text-align: center;
            max-width: 350px;
        }
    }

    .last__item img {
        display: none;
    }

    .last {
        width: 100%;
    }

    .last__item {
        background-image: url(../img/category/long.svg);
        background-repeat: no-repeat;
        display: flex;
        height: 110px;
        align-items: center;
        background-size: cover;
        margin-top: 30px;
        width: 100%;
    }

    .main__product__text {
        margin-top: 45px;
    }

    .main__product__cards {
        flex-direction: column;
        align-items: center;
    }

    .card:hover .overlay {
        opacity: 1;
    }
}

// @media (max-width: 414px) {
//     .heder {
//         &__item-1 {
//             display: none;
//         }
//     }
// }

@media (max-width: 375px) {
    .header {
        &__item-1 {
            display: none;
        }
        &__item-2 {
            display: none;
        }
    }

    .header {
        .nav {
            width: 100%;
        }
    }

    .main__intro {
        height: 363px;
    }

    .main__intro__wrap {
        background-image: none;
    }

    .main__intro__wrap__text {
        text-align: center;
        max-width: 350px;
    }

    .main__category__wrap {
        display: flex;
        flex-direction: column;
    }

    .last__item img {
        display: none;
    }

    .last__item {
        background-image: url(../img/category/long.svg);
        background-repeat: no-repeat;
        display: flex;
        height: 110px;
        align-items: center;
        background-size: cover;
        margin-top: 30px;
    }

    .main__product__text {
        margin-top: 45px;
    }

    .main__product__cards {
        flex-wrap: wrap;
    }

    .card:hover .overlay {
        opacity: 1;
    }
}